.color_nav{
    background-color: #EDF3E2;
}

.red{
    color: red;
}

.name
{
    color: black;
    font-weight: bold;
}

.card_style
{
    text-decoration: none!important;
    
    color:black;
}

.card:hover
{
    color: #1449AF;
}

a:link {
    text-decoration: none!important;
  }
